body{
    background-color: rgb(218, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: azure;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}

#btn-container{
    text-align: center;
    margin: 40px;
}
.btn{
        padding: 7px 25px;
        font-size: 15px;
        margin: 0px 10px;
        color: white;
        cursor: pointer;   
}
#start{
    background-color:rgb(110, 241, 110) ;
}
#stop{
    background-color:rgb(99, 99, 252) ;
}
#Reset{
    background-color:rgb(228, 86, 86) ;
}