.text-center{
    text-align: center;
    background-color: chartreuse;
    
    
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin: auto;
}
.m-w-20{
    max-width: 30vw;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}